@import url(./normalize.css);
ul{
	padding: 10px;
}
ul li{
	list-style: none;
}
body{
	display: grid;
	grid-template-columns: 220px repeat(2,1fr);
	grid-template-rows: repeat(3,1);
	grid-template-areas: 
	"header header header"
	"aside main main";
}
button{
	background-color: transparent;
	border: none;
}

header{
	background-color: aquamarine;
	grid-area: header;
}
main{
	background-color: limegreen;
	grid-area: main;
}
aside{
	background-color: powderblue;
	grid-area: aside;
}
.container{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
.button-menu-aside{
	display: flex
}

#container-main{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: auto;
	gap: 30px;
	padding: 30px;
}